name: Build and Publish Docker Image

on:
  push:
    tags:
      - 'v*'

env:
  IMAGE_NAME: ${{ secrets.DOCKERHUB_USERNAME }}/lgogdownloader

jobs:
  build-and-push:
    name: Build and Push Docker Image
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Extract metadata
        id: meta
        run: |
          VERSION=$(echo ${{ github.ref_name }} | sed 's/v//')
          ORIGINAL_TAG=${{ env.IMAGE_NAME }}:$VERSION
          LATEST_TAG=${{ env.IMAGE_NAME }}:latest

          echo "original_tag=$ORIGINAL_TAG" >> $GITHUB_OUTPUT
          echo "tags=$ORIGINAL_TAG,$LATEST_TAG" >> $GITHUB_OUTPUT

          echo "labels=org.opencontainers.image.revision=${{ github.sha }}" >> $GITHUB_OUTPUT

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and Push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          platforms: linux/amd64,linux/arm64
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          push: true

      - name: Security analyze for CVEs with recommendations
        uses: docker/scout-action@v1
        with:
          command: cves,recommendations
          image: ${{ steps.meta.outputs.original_tag }}
          sarif-file: security-report.sarif

      - name: Upload security scan results
        uses: github/codeql-action/upload-sarif@v4
        with:
          sarif_file: security-report.sarif
